@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  box-sizing: border-box;
  font-family: "Do hyeon", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

input,
button {
  font: inherit;
}
