@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  box-sizing: border-box;
  font-family: "Do hyeon", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: #17232e;
}

input,
button {
  font: inherit;
}
